body {
	padding-left: 50px;
	background-color: #3399FF;
	font-family: 'Roboto';
}

body * {
	box-sizing: border-box;
}

.logo {  
	height: 35px;
  	display: block;
  	margin: 0 auto 30px;	
	width: auto;
	margin-top: 35px;
 }
form legend {
    padding-top: 20px;
	text-align: center;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0;
}
form {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	padding-left: 40px;
	padding-right:40px;
	text-align: left;
	background-color: white;
	width: 400px;
	border-radius: 3px;
}
input {
	width: 320px;
	padding: 15px;
	border: 2px;
	border-color: grey;
}
input[type='email'],
input[type='password'],
button[type='submit'] {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}
input[type='email']:focus,
input[type='password']:focus,
button[type='submit']:focus {
    border-color: #E7E7E7;
    box-shadow: none;
}

button[type='submit'] {
    color: white;
    background: #15CD72;
    border: 0;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
}

button:hover[type='submit'] {
    background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}
.forgot {
	text-align: center;
}
.forgot a{
	font-size: 12px;
	color: grey;
}
.log-in {
	text-align: center;
	color: white;
}
.log-in a {
	color: white;
}
.log-in a:hover {
	color: #E7F1F9
}